[lb]
rke2_lb01 ansible_host=192.168.42.1

[rke2_nodes]
rke2_node_01 ansible_host=192.168.42.1 ansible_user=rocky initial_server=true
rke2_node_02 ansible_host=192.168.42.2 ansible_user=rocky
rke2_node_03 ansible_host=192.168.42.3 ansible_user=rocky
